/* This is a CSS file */
/* This is a CSS file */
.btn{
  border-radius: 10%;
  background-color: rgb(0, 0, 0);
  padding: 0px;
  text-align: center;
  color: rgb(255, 255, 255);
  height: 100px;
  margin: 0%;
  width: 100%;
  font-size: 160%;
  opacity: 1.0;

}

#maru1{

   background-color: rgb(255, 0, 0);
  float: left;
  list-style: none;
  border-radius: 10%;
  height: 100px;
  margin: 0%;
  width: 50%;
  opacity: 0.8;
 
}

#batsu1{
  background-color: rgb(6, 30, 247);
  float: left;
  list-style: none;
   border-radius: 10%;
  height: 100px;
  margin: 0%;
  width: 50%;
  opacity: 0.8;

}




 


/* 
button.maru{
    position: absolute;
    bottom:1.5%;
    left:30%;
    height:40%;
    width:40%;
   


    background-image:url("maru.png");
    background-size: 10%

    background-position:center center; */
.maru{
  border-radius: 10%;
  background-color: rgb(179, 178, 178);
  padding: 0px;
  text-align: center;
  color: rgb(255, 0, 0);
  height: 100px;
  margin: 0%;
  width: 100%;
  font-size: 500%;
  opacity: 0.8;
  /* background-image:url("maru.png");  */

}

.batsu{
  border-radius: 10%;
  background-color: rgb(179, 178, 178);
  padding: 0px;
  text-align: center;
  color: rgb(0, 47, 255);
  height: 100px;
  margin: 0%;
  width: 100%;
  font-size: 500%;
  opacity: 0.8;

}


.tsugi{
  border-radius: 10%;
  background-color: rgb(0, 0, 0);
  padding: 0px;
  text-align: center;
  color: rgb(255, 255, 255);
  height: 60px;
  margin: 0%;
  width: 100%;
  font-size: 160%;
  opacity: 0.8;

}

.seikai{
  border-radius: 10%;
  background-color: rgb(0, 0, 0);
  padding: 0px;
  text-align: center;
  color: rgb(255, 255, 255);
  height: 60px;
  margin: 0%;
  width: 100%;
  font-size: 160%;
  opacity: 0.8;

}

.start{
   border-radius: 10%;
  background-color: rgb(0, 0, 0);
  padding: 0px;
  text-align: center;
}


@media screen and (min-width: 768px){}